.body_container{
    width: 100%;
    display: flex;
    position: relative;
    background-color: #EBF0F7;
}


@media only screen and (max-width: 1067px) {
    .trend_bar_wrapper{
        display: none;
    }
}

.card_wrapper{
    flex: 1;
}